/*====================用户中心头部，左侧导航，右侧内容，底部通用===================*/
body{
    background: #F0F3F7;
}
header{
    width: 100%;height: 80px;
    background: #FFFFFF;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.20);
}
header>.hd{
    width: 1200px;
    height: 100%;
    margin: 0px auto;
    position: relative;
}
header>.hd>img{
    display: inline-block;
    float: left;
    margin-top: 21px;
}
/*搜索框*/
header>.hd>.search{
    width: 460px;height: 36px;
    float: left;
    margin-left: 76px;
    margin-top: 22px;
    overflow: hidden;
}
header>.hd>.search>input{
    width: 368px;height: 36px;
    background: #FEFEFE;
    border: 1px solid #1B53B2;
    border-right: none;
    padding-left: 34px;
    font-size: 14px;
    /*将默认的select选择框样式清除*/
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    background:url("../res/header/search.png") left center no-repeat;margin-bottom:0;
    background-position-x: 10px;
    -ms-background-position-x: 10px;
}
header>.hd>.search>button{
    width: 92px;height: 36px;
    background: #1B53B2;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 6px;
    padding-left: 12px;
    position: relative;
    padding-top: 0px;
    margin-left: -4px;
}
/*购物车*/
header>.hd>.shopCar{
    width: 120px;height: 36px;
    background: #F7F7F7;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    margin-top: 22px;
    display: inline-block;
    float: left;
    margin-left: 40px;
}
header>.hd>.shopCar>span{
    font-size: 12px;
    color: #333333;
    line-height: 12px;
    position: relative;
    top:-3px;
    left:5px;
}
/*账号管理*/
header>.hd>.perName{
    width: 160px;height: 90px;
    background: #FFFFFF;
    position: absolute;
    top:23px;
    right: 0;

    -webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,0.20);
    -moz-box-shadow: 0 1px 5px 0 rgba(0,0,0,0.20);
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.20);

    z-index: 2;
    visibility: hidden;
}
header>.hd>.perName>div{
    width: 160px;line-height: 30px;
    overflow: hidden;
}
header>.hd>.perName .manage{
    width: auto;line-height: 30px;
    cursor: pointer;
    padding-left: 15px;
    visibility: visible;
}
header>.hd>.perName ul{
    width: 100%;height: auto;
}
header>.hd>.perName ul>li{
    width: 100%;line-height: 30px;
    font-size: 12px;
    color: #333333;
    padding-left: 15px;
    cursor: pointer;
}
header>.hd>.perName ul>li:hover{
    background: #E3EAF6;
}

nav,section{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
section>div{
    background: #FFFFFF;
}
/*==================用户中心左侧列表导航通用===================*/
nav.banner{
    width: 100%;height: 190px;
    background-image: url("../res/userCenter-index/banner.png");
    background-repeat: no-repeat;
    background-position: center;
}
section#hdImg{
    overflow: visible;
}
.headImage{
    width: 200px;height: 188px;
    background: rgba(255,255,255,0.95);
    /*overflow: hidden;*/
    position: absolute;
    top:-130px;left: 0;
    z-index: 2;
}
.headImage>.img{
    width: 90px;height: 90px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    margin: 25px 55px;
    cursor: pointer;
}
.headImage>.imgSh{
    width: 100%;height: auto;
    text-align: center;
}
.headImage>.imgSh>span,
.headImage>.imgSh>span>label{
    width: 100%;
    height: 14px;
    font-size: 12px;
    color: #323232;
    line-height: 18px;
    cursor: default;
}
.headImage>.imgSh>span>label{ cursor: pointer}

.leftNav{
    width: 200px;height: 645px;
    background: #FFFFFF;
    margin-top: 78px;
    float: left;
}
.leftNav>.nav-sec{
    width: 100%;line-height: 34px;
}
.nav-tit{
    width: 160px;line-height: 44px;
    font-size: 14px;
    font-weight: bold;
    color: #323232;
    display: inline-block;
    margin-left: 20px;
    border-top: 1px solid #e4e4e4;
    cursor: default;
}
.nav-tit.active{
    color: #01358F;
}
.leftNav>.nav-sec li{
    width: 100%;line-height: 34px;
    padding-left: 27px;
    border-left: 3px solid transparent;
    cursor: pointer;
}
.leftNav>.nav-sec li.active{
    border-left: 3px solid #333333;
    background: #E3EAF6;
}
.leftNav>.nav-sec li:hover{
    border-left: 3px solid #333333;
    background: #E3EAF6;
}
.leftNav>.nav-sec li.dis:hover{
    border-left: 3px solid transparent;
    background: transparent;
}
.leftNav>.nav-sec li img{
    display: inline-block;
    position: relative;
    top:2px;
}
.leftNav>.nav-sec li span{
    font-size: 12px;
    color: #323232;
    display: inline-block;
    margin-left: 10px;
}
/*=============右侧内容============*/
.rightSec{
    width: 980px;height: auto;
    float: right;
    background: #F0F3F7;
}
.rightSec>div{
    width: 100%;min-height: 396px;
    background: #FFFFFF;
    margin-top: 20px;
    padding: 20px;
}
.rightSec div.rightTit{
    width: 100%;height: 26px;
    overflow: hidden;
}
.rightSec div.rightTit>span{
    height: 100%;
    font-size: 14px;
    font-weight: bold;
    color: #323232;
    line-height: 14px;
    display: inline-block;
    float: left;
}

/*==============页面跳转通用==============*/
.sBtn{
    width: 440px;height: 26px;
    /*float: right;*/
    overflow: hidden;
    margin-top: 20px;margin-left: 507px;
}
.sBtn>button{
    line-height: 22px;
    border: 1px solid #E6E6E6;
    border-radius: 2px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    color: #646464;
    float: left;
    margin-left: 5px;
}
.sBtn>button:first-child{ margin-left: 0}
.sBtn>span,
.sBtn>input{
    display: inline-block;
    float: left;
    font-size: 12px;
    color: #646464;
    padding-top: 7px;
    margin-left: 3px;margin-right: 3px;
}
.sBtn>input{
    width: 26px;
    border: 1px solid #E6E6E6;
    padding: 4px 0 4px 5px;
}
.sBtn>.btnSel{
    background: #384670;
    border-radius: 2px;
    color: #FFFFFF;
}

footer{
    width: 100%;height: 150px;
    background: #383C47;
    margin-top: 100px;
    overflow: hidden;
}
footer>.ft{
    width: 610px;height: auto;
    margin: 40px auto;
    font-size: 12px;
    color: #FFFFFF;
    line-height: 20px;
    text-align: center;
    cursor: default;
}