nav{
    width: 1200px;line-height: 42px;
    margin: 20px auto;
    background: #E6F0FB;
    border: 1px solid rgba(169,199,238,0.80);
    border-radius: 2px;
}
nav>img{
    display: inline-block;
    position: relative;
    top:14px;
    margin-left: 14px;
    float: left;
}
nav>span{
    display: inline-block;
    float: left;
    margin-left: 10px;
}

section{
    margin-top: 20px;
    min-height: 150px;
    overflow: hidden;
}
section>.secTit{
    width: 100%;line-height: 14px;
    position: relative;
    margin-bottom: 20px;
}
section>.secTit>span{
    font-size: 14px;
    color: #3B55A3;
    line-height: 14px;
    font-weight: bold;
}
section>.secTit>div{
    width: 4px;height: 14px;
    position: absolute;
    left:-20px;
    top:0px;
    background: #01358F;
}

table{
    width: 100%;
    height: auto;
    font-size: 12px;
    color: #323232;
    margin-left: 10px;margin-top: -12px;
    border-collapse: inherit;
}
/*.inp{*/
    /*width: 150px;*/
    /*padding-bottom: 15px;padding-top: 30px;*/
    /*border: 1px solid #3B55A3;*/
/*}*/



